.fox-container {
  width: 100%;
}
@media (min-width: 640px) {
  .fox-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .fox-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .fox-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .cart-container,
  .fox-container {
    max-width: 1024px;
  }
}
@media (min-width: 1536px) {
  .cart-container,
  .fox-container {
    max-width: 1024px;
  }
}

.montagu {
  font-family: "Montagu Slab", serif;
}

.fox-green {
  color: #004530;
}

.border-fox-green {
  border-color: #004530;
}

.ring-fox-green {
  --tw-ring-opacity: 1;
  --tw-ring-color: #004530;
}

.bg-fox-green {
  background-color: #004530;
}

.product-description p {
  margin-bottom: 24px;
}
